.error {
    color: red;
  }
  
  span {
    font-size: 12px;
  }
  
  input:invalid ~ span {
    display: block;
  }
  .input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    height: 30px;
  }
  
  .input-field {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
  }