.App-header {
    background-color: #282c34;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-header a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .cart {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  
  .nav-block {
    display: flex;
    column-gap: 20px;
  }
  
  .nav-bag {
    display: flex;
    align-items: baseline;
    column-gap: 5px;
  }
  
  .items-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: #282c34;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: small;
    font-weight: 600;
  }
  