* {
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}
.App {
  text-align: center;
  margin: auto;
}

.main-container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #282c34;
  min-height: 80vh;
  font-size: 24px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 20px;
  row-gap: 30px;
  padding: 20px;
}

.about-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;  
}

.about-container img {
  max-height: 600px;
  max-width: 500px;
}

.about-main-block {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.img-card-block {
  height: 250px;
  width: 80%;
}

.img-card-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
  row-gap: 20px;
  padding: 10px;
  box-shadow: -5px -5px 10px lightslategray;
  border-radius: 30px;
}

/* Cart */

.cart-container {
  padding: 20px 30px;
}

.cart-container .titles, .cart-item {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr 1fr 2fr 1fr 1fr;
}
